*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}




header{
    background-color: #FFFFFF;
}
/* Common class */
.container{
    max-width: 1057px;
    margin: auto;
}

.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    margin: 24px 0px;
    font-size: 16px;
    font-weight: 600px;
    
}
.btn:hover{
    background-color: #F95555;
}

nav{
    display: flex;
    justify-content: space-between;
    
    
    
}

.list-Section{
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 34px 0px;
   
}

.list-Section a {
    text-decoration: none;
     color: #000000;
}
.list-Section a:hover{
    background-color: #F95555;
    
}


.container img{
    padding: 16px 0px;
}
 
#hero-section01{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin:  0 auto;
    background-image: url(../image/assets/hero-bg.png);
    background-repeat: no-repeat;
    height: 650px;
    background-position: cover;
    padding: 115px 120px 179.5px 120px;
}

.off-btn{

    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: 1px solid white;
    border-radius: 4px;
    margin: 24px 0px;
    font-size: 16px;
    font-weight: 600px;
    background-color: transparent;
 
    

}
.off-btn:hover{
    background-color: #F95555;
}
.btn-1{
    padding: 8px 12px 8px 6px;
    border-radius: 1000px;
    color: #469165;
    background-color: #FFFFFF;
    border: none;
    margin-bottom: 16px;
}


 .hero-content{
    max-width: 1360px;
    /* margin: 0 auto; */
    text-align: center;

 }
 .para-1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
 }
 .para-2{
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 32px;
    color: #FFFFFF;
 }
 
 .header-1{
    color: #FFFFFF;
 }
 .header-2{
    color: #30B868;
 }

 #hero-section02{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin:  0 120px;
    text-align: center;
    height: 152px;
    padding-top: 80px;
    
 }
 .text-container{
    max-width: 1360px;
 }
 .text-container h1{
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

 }
 .text-container p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
 }
 .note-box{
    display: flex;
    margin: 0 auto;
    gap: 40px;
    /* align-items: center; */
    justify-content: space-between;
 }
.note-card{
    box-shadow:0px 0px 8px 0px #00000010;
    border: none;
    border-radius: 8px;
    padding: 24px;
    max-width: 332px;
    
}
.note-card img{
    border-radius: 50%;
    max-width: 60px;
    margin-bottom: 16px;
    background-color: #F95555;
    padding: 15px 16px;
}
.note-card h3{
    font-weight: 600px;
    max-width: 274px;
    color: #001931;
    margin-bottom: 16px;
}
.note-card p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #001931;
    margin-bottom: 21.5px;
}

#hero-section03{
    max-width: 1360px;
    margin-top: 350px;
    height: 840px;
    
    

}
.brain-container{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    padding: 120px;
    max-width: 1360px;
    height:600px;
    align-items: center;
    

    
}
.brain-container .knowledge img{
    width: 600px;
    border-radius: 12px;
}
.k-text{
    max-width: 700px;
     padding: 102px 0px;

    
}
.k-text h4{
    font-weight: 500px;
    color: #469165;
    margin-bottom: 16px;
}
.k-text h1{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 16px;
    color: #001931;

}
.k-text p{
    font-weight: 400px;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
}


.list li {
    display: flex;
    align-items: center;
    list-style: none;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    max-width: 700px;
    margin-bottom: 16px;
    
    
}



#hero-section04{
    max-width: 1600px;
    padding: 0px 120px 120px 120px;
    height: 506px;
    /* border: 4px solid red; */
    
}
.layout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1360px;
    text-align: center;
    height: 384px;
    background-color: #F7F6F2;
    padding: 80px 40px;

}
.layout-container .text h1{
    font-weight: bold;
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;

}

.layout-container .text p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
 .button-container p{
    margin-top: 16px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;

 }

 #last-container{
    max-width: 1600px;
    height: 348px;
    padding: 120px 120px 30px 120px;
    background-color: #001931;
    
 }

 .style{
    display: flex;
    justify-content: space-between;
    gap: 790px;
    max-width: 1360px;
    height: 64px;
    align-items: center;

 }
 .footer-img{
    max-width: 350px;
    height: 60px;
 }
 .head {
    max-width: 220px;
    height: 64px;
 }
 .head p{
    font-weight: 400px;
    font-size: 20px;
    max-width: 113px;
    color: #FFFFFF;
    margin-bottom: 16px;
    line-height: 28px;
 }
 .icons{
    gap: 16px;
    border-radius: 50%;
     
 }
 .copyright{
    max-width: 1360px;
    margin: 0 auto;
    padding: 110px 120px 30px 120px;
    text-align: center;
    font-size: 16px;
    font-weight: 400px;
    color: #FAFAFA;
 }



 

