*{
    padding: 0;
    margin: 0;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  
}

header{
    background-color: #FFFFFF;
}
/* Common class */
.container{
    max-width: 1057px;
    margin: auto;
}

.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    margin: 24px 0px;
    font-size: 16px;
    font-weight: 600px;
}

nav{
    display: flex;
    justify-content: space-between;
    
    
    
}

.list-Section{
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 34px 0px;
   
}

.list-Section a {
    text-decoration: none;
     color: #000000;
}


.container img{
    padding: 16px 0px;
}

